{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{rabotnik.last_name}} {{rabotnik.first_name}} {{rabotnik.middle_name}}</h1>
  <li><a href="{% url 'rabotnik_update' rabotnik.pk %}">Изменить </a></li>
  <li><a href="{% url 'rabotnik_delete' rabotnik.pk %}">Удалить</a></li>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Журнал</h4>

    {% for copy in rabotnik.jurnal_set.all %}
    <hr>
    <p><strong>Id_predmeta:</strong> <a href="{% url 'predmet-detail' copy.id_predmeta.pk %}">{{ copy.id_predmeta }}</a></p>
    <p><strong>Id_studentov:</strong> <a href="{% url 'studenti-detail' copy.id_studentov.pk %}">{{ copy.id_studentov }}</a></p>
    <p><strong>Data_propyskov:</strong> {{ copy.data_propyskov }}</p>
    <p><strong>Propyski:</strong> {{copy.propyski}}</p>
    <p><strong>Opisanie:</strong> {{copy.opisanie }}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}